torch
gym
gymnasium[atari]
ale-py
autorom
opencv-python
tqdm
backoff
jupyter
ipykernel
notebook
holoviews
imageio

# Data analysis and visualization
numpy
pandas
matplotlib
seaborn

# Configuration
munch

# Logging
mlflow
google.cloud.storage
# azure-storage-blob

# Profiling
# tensorboard
# torch-tb-profiler

# Agents
# numba
# scikit-image
# dm-env
# dm-env-rpc==1.0.6
# grpcio
